html {
    background-color: #F8F8F8;
    font-family: Roboto;
}

nav {
    width: 100%;
    background-color: rgb(35,35,35);
    height: 56px;
    color: white;
}

.nav-container {
    width: 96%;
    height: 100%;
    margin: 0 auto;
}

.ul-left {
    float: left;
    padding-top: 18px;
}

.li-left {
    display: inline-block;
}

.logo {
    position: absolute;
    top: 21px;
    left: 50px;
}

.ul-right {
    float: right;
    padding-top: 12px;
}

.li-right {
    display: inline-block;
    padding-left: 14px;
}

.profile {
    border-radius: 50px;
}

.video-player {
    background-color: #000000;
    min-height: 240px;
}

.video-description {
    background-color: #FFFFFF;
}

h1 {
    font-size: 1.1rem;
    line-height: 1.3;
    padding: 25px 15px 5px 15px;
}

.video-actions-list {
    padding: 5px 15px 15px 15px;
    color: grey;
    text-align: right;
}

h3 {
    float: left;
    padding: 5px 15px 15px 15px;
    color: grey;
}

.li-actions {
    display: inline-block;
    padding-right: 5px;
    vertical-align: top;
}

.material-icons.thumbs {
    font-size: 16px;
    color: #686868;
    margin-left: 20px;
}

.thumbs {
    color: #686868;
    font-size: .8rem;
    vertical-align: middle;
}

.material-icons.share {
    font-size: 16px;
    margin-left: 15px;
}

.share {
    text-transform: uppercase;
    font-size: .8rem;
    vertical-align: middle;
}

.material-icons.playlist-add {
    font-size: 20px;
    margin-left: 15px;
}

.channel-list {
    border-top: 1px lightgrey solid;
    margin-left: 15px;
    margin-right: 15px;
}

.li-channel {
    display: inline-block;
}

.channel-logo {
    float: left;
    background-color: green;
    color: white;
    padding: 16px;
    border-radius: 50px;
    font-size: 1.6rem;
    margin-top: 10px;
    line-height: .6;
}

.channel-name {
    margin-top: 10px;
    margin-left: 10px;
    font-size: .9rem;
    font-weight: bold;
    line-height: 1.3;
}

.subscribe {
    float: right;
    background-color: red;
    color: white;
    padding: 15px;
    text-transform: uppercase;
    font-size: .8rem;
    margin-top: 10px;
}

p {
    margin-left: 70px;
    margin-top: 20px;
    padding-bottom: 20px;
    line-height: 1.4;
    font-size: .9rem;
}

h2 {
    padding-top: 20px;
    border-top: 1px solid lightgrey;
    margin-left: 15px;
    margin-right: 15px;
}

.playlist {
    background-color: #FFFFFF;
}

.video {
    height: 120px;
}
.vid {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

h4 {
    padding-top: 22px;
    padding-left: 180px;
    font-weight: bold;
    line-height: 18px;
    font-size: .9rem;
}

.recommended {
    padding-left: 112px;
    margin-top: 5px;
    color: grey;
    font-size: .8rem;
}
